*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color:#fff;
    --bg-color:#1b1f24; /*1b1f24*/
    --second-bg-color: #22282f;
    --main-color:#13bbff;
    --other-color:#c3cad5;
    --h1-font: 2.9rem;
    --h2-font:2.9rem;
    --p-font:1rem;

}

body{
    color: var(--text-color);
    background-color: var(--bg-color);

}


/* header */

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16% ;
    background-color: transparent;
    transition: all .50s ease;

}


.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;
}
.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 20px;
    margin-right: 20px;
    transition: all .50s ease;
}

.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

#menu-icon{
   font-size: 35px;
   margin-right: 2rem;
   margin-left: 1rem;
   z-index: 1001;
   cursor: pointer; 
   display: none;
}

/* .h-btn{
   display:inline-block ;
   padding: 11px 26px;
   background-color: transparent;
   color: var(--main-color);
   border: 2px solid var(--main-color); 
   border-radius: 8px;
   font-size:15px;
   font-weight: 600;
   transition: all .50s ease;
}

.h-btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px  var(--main-color);
    transform: scale(1.1);

} */

header.sticky{
    background: var(--bg-color);
    box-shadow:0 .1rem 1rem rgba(0, 0, 0, .2) ;
    padding: 16px 16%;
}


@media (max-width:1700px){
    header{
        padding: 20px 8%;
    }
    header.sticky{
        padding: 14px 8%;
    }

    .footer{
        padding: 18px 8% ;
    }
}


@media (max-width:1380px){
    header{
        padding: 20px 8%;
    }
    header.sticky{
        padding: 14px 8%;
    }

    .footer{
        padding: 18px 8% ;
    }
}

@media (max-width:950px){
#menu-icon{
    display: block;

}
.navlist{
    position: absolute;
    top:100%;
    right:-100%;
    width: 225px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: all .50s ease;
}
.navlist a{
    display:block ;
    padding: 17px;
    font-size: 22px;
}

.navlist.active{
    right: 0;
}

}






.wrapper{
    padding-inline: 10vw;
}

.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
    
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;

}



.featured-name{
    margin-block:10px;
    font-size:30px;
    font-weight:900;
    line-height: 1.2;
}


.featured-text-info p{
    font-size: var(--p-font);  
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;

    
}

.featured-text-btn{
    margin-top: 10px;
    display: flex;
    gap: 20px;

}

.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
} 


.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px  var(--main-color);
    cursor: pointer;
    transform: scale(1.1);


}

.btn2{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: all .50s ease;
    margin-left: 15px;

}


 .featured-image{
    display: flex;
    justify-content: top right;
    align-content: center;
    height: 100vh;
    width: 50%;
 }
    
.image{
    margin: auto;
    width: 380px;
    height: 380px; 
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    transform: scale(1.3);
}
    
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
    
.social{
    display: flex;
    margin-top: 2rem;
    margin-left: 3rem;
    gap:10px   
 }
        
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;

}
        
.social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px  var(--main-color);
}  


@media only screen and (max-width:1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}



@media only screen and (max-width:900px){
.wrapper{
    height: 140vh;
}

    .featured-box{
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.featured-text{
    width: 100% ;
    order: 2;
    justify-content:center;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
}

.social{
margin-top: 2rem;
}

.featured-text-card{
    margin-top: 45vh;
}

.featured-image{
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top:22vh;
    transform: scale(1.4);
    
}

.image{
transform: scale(1);
}
.image, .image img{
    width: 200px;
    height: 200px;
}
}



 /* section about */
    

    .about {
        background-color: var(--second-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 50px;
    }
    
    .about-img{
        margin-right: 20px;
    }
    .about-img img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
        border: 7px solid var(--main-color);
        box-shadow: 0 0 20px var(--main-color);
    }
    
    .about-text {
        max-width: 600px; /* تحديد الحد الأقصى لعرض النصوص لتحقيق تناسب مرئي */
    }
    .about-text h2{
        font-size: var(--h2-font);
        line-height: 1.3;
        margin-bottom: 20px;

    }

    .exp-area{
        margin-bottom: 40px;

    }

    .exp-area p{
        color: var(--text-color);
        font-weight: 600;
        font-size: 19px;
        line-height: 42px;
    }

    .exp-area p span{
        color: var(--other-color);
        font-size: var(--p-font);
        font-weight: 400;
        margin-left: 8px;
    }

    .ri-github-fill{
        font-size: 25px;
    }
    
    /* تقنيات الاستجابة (Media Queries) */
    @media screen and (max-width: 768px) {
        .about {
            flex-direction: column;
            align-items: center;
            text-align: center; /* توسيط النصوص على شاشات العرض الصغيرة */
        }
    
        .about-img img {
            width: 100%;
            max-width: none;
            height: auto;
            margin-right: 0;
        }
    }


    /* servies section */
    
.center-text{
    text-align: center;
}    

.center-text h2{
    margin-top: 3rem;
    font-size: var(--h2-font);
}


.box {
    padding: 40px;
    background-color: #2d343f;
    border-radius: 25px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all .50s ease;
    cursor: pointer;
    margin: 0 10px; /* إضافة هامش من الجانبين فقط */
    max-width: 350px; /* حدد العرض الأقصى للعنصر */
    width: 100%; /* جعله يأخذ عرض 100% عندما يكون العرض أقل من 300px */
}

.services-content {
    display: flex;
    flex-wrap: wrap; /* للسماح بالتفاف العناصر عندما تكون الشاشة صغيرة */
    justify-content: center;
    gap: 20px; /* المسافة بين العناصر */
    margin: 4.2rem 0; /* هامش على الجهات العليا والسفلية */
}



.box img{
    margin-bottom: 20px;
}

.box h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.box p{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 20px;
}

.box a{
    display: inline-block;
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom:2px solid #5d6c83 ;
    transition: all .50s ease;
}

.box i{
    vertical-align: middle;
    font-size: 25px;
    color: var(--main-color);
    margin-left: 5px;
}

.box a:hover{
    border-bottom: 2px solid var(--main-color);
}

.box:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}



/* project */

.project {
    min-height: 120vh; /* ضبط ارتفاع السكشن على شاشات صغيرة */
    padding-top: 1rem;
    background: var(--second-bg-color);
    height: auto; /* استبدال الارتفاع الثابت بـ auto للسماح بالمحتوى بالتوسع */
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.row {
    max-width: 300px;
    width: 300px;
    margin: 0 2rem; /* يمكنك تعديل قيمة الهامش حسب الحاجة */
    background-color: #2d343f;
    border: 1px solid transparent;
    box-shadow: 0 0 10px var(--main-color);
    transition: all .50s ease;
    margin-bottom: 2rem;
   
}

.row img{
    height: 380px;
    width: 300px;  
    
}

.main-row{
   display: flex;
   align-items: center;
   justify-content: space-between; 
   margin-bottom: 0.5;

}

.row h5{
    font-size: 20px;
    font-weight:600;
    color:#fff;
    padding-left: 5.4rem;
}

.row p{
    margin: 0 0.4rem  0.4rem  0.4rem;
    color: var(--other-color);
}

.row i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-size: 27px;
  color: var(--text-color);
  background-color: #2d343f;
  
}

.row i:hover{
    color:var(--bg-color);

}



.row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;

}




/* contact */
.contact-form {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form {

    padding: 20px;
    margin: auto;
    max-width: 600px;
    margin-top: 5px; 

}

form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    background-color: #2d343f;
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 8px;
}

form input::placeholder, 
form textarea::placeholder{
    color: var(--other-color);
    font-size: 15px;
}


form .send-btn {
    display: inline-block;
    padding: 11px 26px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.50s ease;
    width: 100%; /* تعديل عرض زر الإرسال ليكون 100% على شاشات صغيرة */
}
form .send-btn:hover{
    background: transparent;
    color:var(--main-color) ;
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}

/* تقنيات الاستجابة (Media Queries) */
@media screen and (max-width: 768px) {
    .contact-form {
        padding: 0 20px; /* تقليل المسافة الجانبية للفورم على شاشات صغيرة */
    }

    form input,
    form textarea {
        padding: 15px;
    }
}



/* footer */

.footer{
    display: flex;
    padding: 22px 16%;
    background-color: var(--second-bg-color);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
}

.scroll-top{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #075fe4;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27px;
}









